// you can change colors here
$theme-color: #00c0ce;
$bg-color: (
    light: #fff,
    dark: #222222,
  );

  $vp-c-accent-hover: #ce6400;

$font-family-heading: "Raleway";
$vp-c-text-mute: #0000fd9a;