// you can change colors here
$theme-color: #00c0ce;
$bg-color: (
    light: #fff,
    dark: #222222,
  );

$font-family-heading: "Raleway";

#main-description {
  max-width: 35rem;
  color: rgba(0, 0, 255, 0.78);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.3;
}

$vp-font: 'Noto Sans, Georgia, -apple-system, "Nimbus Roman No9 L", sans-serif';

$vp-c-text: (
  dark: rgb(194, 194, 194),
  light: rgb(18, 21, 22),
);

:root {
  --vp-c-text-mute: #363642; /* Default for light theme */
}

[data-theme="dark"] {
  --vp-c-text-mute: #a8a8a8; /* Muted color for dark theme */
}

$vp-c-control: #9a11da5e;
$vp-c-control-hover: #ae0ef896;